mixin adminSide (adminSide = {})
    ul.adminSide 
        li 
            a(href="/admin/authorManagement") 작가 관리
        li 
            a(href="/admin/authorManagement/create") 작가 추가
        li 
            a(href="/admin/bookManagement") 도서리스트
        li 
            a(href="/admin/bookManagement.create") 도서 추가